@import "bootstrap";
body{
    margin:0;
    padding: 0;
}

/* ESTILOS PARA MENU*/

.navbar{
    height: 70px;
    color: #fff;
    font-size: 18px;
    background-color: #141414;
}

.navbar li:hover{
    background-color: #1f1f1f;
}
/* ESTILOS PARA EL HOME*/

#banner {
    width: 100%;
    height: auto;
}

/* ESTILOS PARA PROYECTOS*/
.card a{
    color: #fff;
    background-color: #141414;
}

.card a:hover{
    background-color: transparent;
    border-color: #141414;
    color:#141414;
}