<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <p class="pt-3">Humberto Martinez<p>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Inicio", root_path, class: "nav-link active text-white", "aria-current": "page" %>
        </li>
        <li class="nav-item">
          <%= link_to "Proyectos", proyectos_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contacto", contacto_path, class: "nav-link text-white" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
